projects/n8n/1_Retell_ai.json
{
  "name": "Retell ai",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a867afe0-bca1-4ee0-b992-cef74a4301a2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "spacexdragon2004@gmail.com",
          "mode": "list",
          "cachedResultName": "spacexdragon2004@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        220,
        0
      ],
      "id": "c8c1c4c6-e2a0-4e12-9916-e0842b679e4a",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8SU7rOwcSmBlyeKz",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Appointment Description:  {{ $json.description }}\n\nStart Time: {{ $json.start.dateTime }}\n\nEnd Time: {{ $json.end.dateTime }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant. Your task is to generate ONLY a pure JSON object with the following structure. Do not include explanations, markdown formatting, or extra text — only the valid JSON.\n\nStructure:\n\n{\n  \"name\": \"Full name of the recipient as a string\",\n  \"phone_number\": \"Phone number of the recipient as a string\",\n  \"appointment\": {\n    \"description\": \"Description of the appointment as a string\",\n    \"start_time\": \"Start time of the appointment as a string\",\n    \"end_time\": \"End time of the appointment as a string\"\n  }\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "b3bb8839-c1fa-40ba-bc01-53a7b9241c57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"phone_number\": {\n      \"type\": \"string\"\n    },\n    \"appointment\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"description\": {\n          \"type\": \"string\"\n        },\n        \"start_time\": {\n          \"type\": \"string\"\n        },\n        \"end_time\": {\n          \"type\": \"string\"\n        }\n      },\n      \"required\": [\"description\", \"start_time\", \"end_time\"]\n    }\n  },\n  \"required\": [\"name\", \"phone_number\", \"appointment\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        620,
        220
      ],
      "id": "611ad051-a236-48e1-93f8-46684a45490e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        220
      ],
      "id": "fc66987d-7020-4e43-b1ad-c40625885691",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "DYFFEe82O25iBUEG",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"from_number\": \"+15205211730\",\n  \"to_number\": \"+917838961933\",\n  \"retell_lm_dynamic_variables\": {\n    \"name\": \"John Doe\",\n    \"phone_number\": \"+917838961933\",\n    \"reason\": \"Consultation Call\",\n    \"start_time\": \"2025-06-25T10:30:00+05:30\",\n    \"end_time\": \"2025-06-25T11:30:00+05:30\"\n  },\n  \"override_agent_id\": \"agent_d0ff3318c2c6472870df5da792\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ],
      "id": "42b4cb37-f2dd-4208-bdaa-d52d72b604d2",
      "name": "HTTP Request",
      "credentials": {
        "httpCustomAuth": {
          "id": "FFerVX7GTqinjD2o",
          "name": "Custom Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65dc4187-0e4d-4c24-beaf-9ff568f56a69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "57ed52f50010b9553de6a81c4723ae368cf3d67f3ccde9b975838b349e349af4"
  },
  "id": "6GXHQalJMGHMpAVk",
  "tags": []
}